[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cppcheck-junit = "*"
fabric = "*"

[dev-packages]
pylint = "*"
black = "*"
build = "*"
pytest = "*"

[requires]
python_version = "3.6"
