[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cppcheck-junit = "*"
fabric = "*"
pyaml = "*"
pyopenssl = "*"
dataclass_wizard = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
pytest = "*"
pytest-cases = "*"
pytest-html = "==3.2.0"
py = "*"
lbr-testsuite = ">=5.0"
scapy = "*"
matplotlib = "*"
netaddr = "*"

[dev-packages]
pylint = "*"
black = "*"
build = "*"
twine = "*"
hypothesis = "*"
docker = "*"
isort = "*"

[requires]
python_version = "3.9"
