---
- name: libpcap library is installed
  ansible.builtin.dnf:
    name:
      - libpcap
      - libpcap-devel
    state: latest

- name: xxhash library is installed
  ansible.builtin.dnf:
    name:
      - xxhash-libs
      - xxhash-devel
    state: latest

- name: glpk library is installed
  ansible.builtin.dnf:
    name:
      - glpk
      - glpk-devel
    state: latest

- name: kernel-headers are updated
  ansible.builtin.dnf:
    name: kernel-headers
    state: latest
    disable_excludes: all

- name: libbpf library is installed
  ansible.builtin.dnf:
    name:
      - libbpf
      - libbpf-devel
    state: latest
    enablerepo: "{{ extra_repos }}"
  vars:
    extra_repos: "{{ ['ol8_UEKR7'] if ansible_os_family == 'RedHat' and ansible_distribution_major_version | int == 8 else [] }}"

- name: libxdp library is installed
  ansible.builtin.dnf:
    name:
      - libxdp
      - libxdp-devel
    state: latest
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version | int > 8

- name: openssl library is installed
  ansible.builtin.dnf:
    name:
      - openssl
      - openssl-devel
    state: latest

- name: dpdk library is installed
  ansible.builtin.dnf:
    name:
      - dpdk
      - dpdk-devel
      - dpdk-tools
    state: latest

- name: numa library is installed
  ansible.builtin.dnf:
    name:
      - numactl
      - numactl-devel
      - numactl-libs
    state: latest

- name: python3-devel is installed (for pybind11)
  ansible.builtin.dnf:
    name:
      - "{{ package }}"
    state: latest
  vars:
    package: "{{ 'python39-devel' if ansible_distribution_major_version | int == 8 else 'python3-devel' }}"
