---
- name: Python3 is installed
  ansible.builtin.dnf:
    name:
      - python3
      - python3-pip
    state: latest

- name: Pipx is installed (over pip)
  ansible.builtin.command: pip3 install pipx

# Pipx may not be in PATH, run with python3 -m
- name: Python pipenv is installed (over pipx, globally)
  ansible.builtin.command: python3 -m pipx install pipenv --global
